<% include layout/_head %>
<% include layout/_header %>

		<div id="main">
			<article>article</article>
			<nav>nav</nav>
			<aside>aside</aside>
		</div>

<% include layout/_footer %>
<% include layout/_script %>